* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #000;
}
a:hover {
  color: #0038b8;
  text-decoration: underline 2px #0038b8;
}
#header {
  background-color: whitesmoke;
  color: white;
  padding: 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav, ul, li {
  display: flex;
  justify-content: center;
  text-align: center;
}
#logo > img {
  width: 60px;
  border-radius: 50%;
}
#button {
  padding: 8px;
  background-color: #0038b8;
  border-radius: 5px;
  display: flex;
  justify-self: center;
  align-items: center;
}
#button > a {
  color: white;
}
#button > a:hover {
  text-decoration: none;
}
#button:hover {
  background-color: #042a85;
}

/*  */
footer {
  background-color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  color: white !important;
}
#copyright {
  background-color: #0038b8;
  color: white;
  padding: 10px 0;
  text-align: center;
}
#footer-img-title{
  font-size: 1.5em;
}
@media only screen and (max-width: 500px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  #footer-mid, #footer-right {
    margin-top: 15px;
  }
  #footer-img-title{
    font-size: 1.5em;
  }
  #history-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

#btnbuy {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}
#btnbuy:hover {
  border: 2px solid white;
  background-color: #000;
  color: white;
  text-decoration: none !important;
}

#buy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}